<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
        <%= render 'shared/stats' %>
    </section>
    <a class="iframe" href="/iframe" > IFRAME </a>
  </aside>
   
  <div class ="span8">
  	<%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
     $('a.iframe').bind('click',function(event) {
       event.preventDefault();
       $.fancybox({ href: '/iframe'}, { type: 'iframe', width: 1030, height: '90%', padding: 0 })
    })
   })
<%end%>